
a{
    text-decoration: none;
   /* display: flex; */
   margin-right: 2rem;
   width: 10rem;
   margin-top: 1rem;
   border-radius: 15px;
   border: 1px solid rgba(113, 113, 240, 0.918);
   /* align-items: center; */
   
}
ul{
    display: flex;
    /* flex-wrap: wrap */
}